<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=product.name %></title>
</head>
<body>
    <h1><%=product.name%></h1>
    <ul>
        <li>価格:<%=product.price%>円</li>
        <li>カテゴリ:<a href="/products?catergory=<%=product.catergory%>"><%=product.catergory%></a></li>
    </ul>
    <a href="/products/">所品一覧に戻る</a>
    <a href="/products/<%=product.id%>/edit">編集</a>
    <form action="/products/<%=product.id%>?_method=DELETE" method="POST">
        <button>削除</button>
    </form>
</body>
</html>